.searchBar {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.table-container {
  max-height: 35vh; /* 25% of the viewport height */
  overflow: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.bioSection {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

.bio {
  max-height: 170px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: break-spaces;
  width: 80%;
  display: block;
}
